<main class="news-grid" id="blog_area">
    
</main>

<script>
    fetch(
        "https://docs.google.com/spreadsheets/d/1sBgHWUrOtOmkpnyz0YQS9VqEFBVWFn57J7GAaqh9Le4/gviz/tq?tqx=out:json&tq&gid=0",
    )
        .then((response) => response.text())
        .then((data) => {
            data = data.replace("\n", "");
            data = data.replace(
                "/*O_o*/google.visualization.Query.setResponse(",
                "",
            );
            data = data.slice(0, -2);
            var json = JSON.parse(data);
            sessionStorage.setItem("site-data", data);
            var data_array = json["table"]["rows"];
            var i = 0;
            var blog_area = document.getElementById("blog_area");
            var posts_to_paste = "";
            while (i < data_array.length) {
                posts_to_paste +=
                    '<article class="news-card" id="' +
                    data_array[i]["c"][0]["v"] +
                    '"><img src="' +
                    data_array[i]["c"][4]["v"] +
                    '" alt="Новина" class="news-image"><div class="news-content"><div class="news-date">' +
                    data_array[i]["c"][2]["v"] +
                    '</div><h3 class="news-title">' +
                    data_array[i]["c"][1]["v"] +
                    "</h3><p>" +
                    data_array[i]["c"][3]["v"] +
                    "</p></div></article>";
                i += 1;
            }
            blog_area!.innerHTML += posts_to_paste;
            const postElements = document.querySelectorAll("article");
            postElements.forEach(function (postElement) {
                postElement.addEventListener("click", function () {
                    const postId = this.id;
                    const postUrl = `/post/?id=${postId}`;
                    window.location.href = postUrl;
                });
            });
        });

    function move_to_page(selected_id: string) {
        window.alert(selected_id);
    }
</script>

<style is:global>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        font-family: "Open Sans", sans-serif;
        background: #f7f7f7;
    }

    /* News Section */
    .news-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 30px;
        padding: 40px 20px;
        max-width: 1200px;
        margin: 0 auto;
    }

    .news-card {
        background: white;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .news-image {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    .news-content {
        padding: 20px;
    }

    .news-date {
        color: #5f7d8c;
        font-family: "Oswald", sans-serif;
        margin-bottom: 10px;
    }

    .news-title {
        font-family: "Oswald", sans-serif;
        margin-bottom: 15px;
    }
</style>
